html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    color: #ffffff;
}

/*ヘッダー*/
header {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    background-color: rgba(0, 0, 0, 0.5);
}
.custom-hamburger .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#menu li a {
    color: #ffffff;
    opacity: 0.7;
    transition: 0.5s;
}
#menu li a:hover {
    opacity: 1;
}
.dropdown-item {
    color: initial !important;
    font-size: 1.4rem;
}
.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

/*メイン*/
main {
    background-color: black;
    font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}
h2 {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 2.4rem;
    padding-bottom: 10px;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(./../img/top1.png) no-repeat center center;
    background-size: cover;
}
.topic-box, .ranking-box {
    padding: 15px;
}
.topic-box img {
    width: 90%;
}
.infomation-area {
    width: 100px;
}
.topic-box strong{
    width: 10%;
}
.topic-box button, .ranking-box button {
    display: block;
    color: #ffffff;
    background-color: black;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: 0.5s;
}
.topic-box button:hover, .ranking-box button:hover {
    color: black;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.banner-area {
    padding: 20px;
}
.banner-area img {
    width: 100%;
    padding-bottom: 10px;
}

/*サイド*/
.ranking-box img {
    width: 90%;
}
.ranking-box h3 {
    font-size: 2rem;
    color: #fff352;
}
.ranking-box a {
    padding: 5px;
    border-radius: 10px;
}
.infomation-area-2 {
    width: 50%;
}

/*フッター*/
footer {
    text-align: center !important;
    background-color: #182933;
    padding: 50px;
}
footer a {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    color: #ffffff;
    opacity: 0.7;
    transition: 0.5s;
}
footer a:hover {
    color: #ffffff;
    opacity: 1;
}